*{
    margin: 0px;
    padding: 0px;
    color: white;

}
body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}


.main{
    background-image: url(assest/baground.jpg);
    background-size: max(1000px,100vw);
    height: 95vh;
    opacity: 0.74;
    background-position: center;
   background-repeat: no-repeat ;
   background-color: black;
}
   


@media screen and (max-width: 600px) {
    
    #logo{
       width: 75px;
    }
}
.box{
     height: 95vh;
     width: 100%;
  
     position: absolute;
     top: 0PX;
}
nav{
display: flex; 
justify-content: space-between;
align-items: center;
max-width: 82vw;
margin: auto;
height: 62px;

}
#logo{
    width: 153px;
    height: 53px; ;
    background-image: url(assest/logo.png);
    background-size: cover;
    z-index: 10;
    margin: auto;
    position: absolute;
    left: 110px;
    background-color: black;
    opacity: 0.69;
    
    
}
.button1{
    width: 83px;
    height: 33px; ;
    
    background-size: cover;
    position: absolute ;
    z-index: 10;
    margin: auto;
    padding: auto;
    right: 29px;
    color: rgb(0, 0, 0);
    background-color: red;
    
}

.button2{
    width: 83px;
    height: 33px; ;
     background-color: rgb(197, 24, 24);
    background-size: cover;
    position: absolute ;
    z-index: 10;
    margin: auto;
    padding: auto;
    right: 115px;
    color: black;
    
}

/* boby main part*/

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}





.first{
     font-size: 45px;
    z-index: 12;
    
}
.second{
    font-size: 20px;
    margin: 16px 0px 0px;
    font-weight: 700;
    z-index: 12;

}
@media screen and (min-width: 960px) {
    .second  {
       font-size: 2rem;
       font-weight: 700;
    }
}

@media screen and (max-width: 960px) {
    .first  {
       font-size: 1.3rem;
       font-weight: 900;
    }
}
.third{
    font-size: 20px;
    margin: 16px 0px 0px;
    font-weight: 700;
    z-index: 12;

}

.email{
  
    width: 360px;
    background-color: transparent;
color: rgb(8, 0, 0);
font-size: 19px;
margin-top: 20px;
padding: 28px 16px 8px;

}

.button3{
    width: 213px;
    height: 56px;
    background-color: red;
    font-size: 25px;
    
}
@media screen and (max-width: 960px) {
    .button3 {
       font-size: 1rem;
       font-weight: 900;
    }
.lasr{
    display: flex;
    margin:16px 110.312px 0px;
   
    font-size: 25px;

}

@media screen and (max-width: 960px) {
    .lasr{
       width: 180px;
    }
}
}
.sapration {
     height: 10px;
     background-color:  gray;
}
/*.tv{
    width: 1024px;
    height: 505px;
    padding: 72px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}*/



.tv{
    width: 100%;
    height: 485px;
    padding: 72px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
   
}

.first2{
    font-size: 45px;
   z-index: 12;
   margin: 16px 0px 0px;
}
.chid1{
    margin: 16px 0px 0px
}
.first3{
    font-size: 25px;
   z-index: 12;
   
   
}
.first4{
    font-size: 25px;
   z-index: 12;
   
}

.tvimg{
    width: 574px;
    height: 356px;
    background-image: url(assest/tv.png);
    background-size: cover;
    border: 0px;
    z-index: 20;
}
.vid1 {
    position: absolute;
    right: 150px;
}

.mobile{
    width: 100%;
    height: 505px;
    padding:  0px 89px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
   
}

.first21{
    font-size: 45px;
   z-index: 12;
   margin: 16px 0px 0px;
}
.chid11{
    margin: 16px 0px 0px
}
.first33{
    font-size: 25px;
   z-index: 12;
   
   
}
.mob{
    width: 374px;
    height: 356px;
    background-image: url(assest/mobile.jpg);
    background-size: cover;
    border: 0px;
    z-index: 20;
    
}






.tv1{
    width: 100%;
    height: 485px;
    padding: 72px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
   
}

.first7{
    font-size: 45px;
   z-index: 12;
   margin: 16px 0px 0px;
}
.chid7{
    margin: 16px 0px 0px
}
.first9{
    font-size: 25px;
   z-index: 12;
   
   
}
.first9{
    font-size: 25px;
   z-index: 12;
   
}

.tv5{
    width: 750px;
    height: 420px;
    background-image: url(assest/device-pile-in.png);
    background-size: cover;
    border: 0px;
    z-index:10;
    right: 0px;
}
.v2 {
    position: absolute;
    right: 175px;
    width: 570px
}



.imge{
    width: 100%;
    height: 505px;
    padding:  0px 89px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
   
}

.first212{
    font-size: 45px;
   z-index: 12;
   margin: 16px 0px 0px;
}
.chid111{
    margin: 16px 0px 0px
}
.first333{
    font-size: 25px;
   z-index: 12;
   
   
}
.pho{
    width: 374px;
    height: 356px;
    background-image: url(assest/abc.png);
    background-size: cover;
    border: 0px;
    z-index: 20;
    
}



section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}